<h1>Stupid Coaching</h1>
<div>
  <p>
    <%= @question %>
  </p>
  <p><em>-You</em></p>
</div>
<div>
  <p class='response'>
    <%= @response %>
  </p>
  <p><em>-Your Coach</em></p>
</div>
<%= link_to "Ask another question to the stupid coach", ask_path %>
